/* src/styles/app.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

main {
  padding: 20px;
}

.resolution-display,
.screen-details {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
}

h2 {
  margin-bottom: 10px;
  color: #333;
}

p {
  font-size: 18px;
}
