@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: url(../assets/bg.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.App {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  text-align: center;
}

h1,
h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
}

.resolution-display,
.voice-commands,
.color-depth,
.viewport-size,
.screen-comparison,
.fps-meter,
.theme-switcher,
.device-motion,
.live-wifi-ping,
.battery-status,
.device-orientation,
.network-type,
.network-status,
.live-location,
.feedback,
.theme-switcher-container,
.clipboard-status,
.device-info,
.screen-details {
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  width: 100%;
  max-width: 400px;

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.resolution-display:hover,
.voice-commands:hover,
.color-depth:hover,
.viewport-size:hover,
.screen-comparison:hover,
.fps-meter:hover,
.theme-switcher:hover,
.device-motion:hover,
.live-wifi-ping:hover,
.battery-status:hover,
.device-orientation:hover,
.theme-switcher-container:hover,
.network-type:hover,
.network-status:hover,
.live-location:hover,
.feedback:hover,
.device-info:hover,
.clipboard-status:hover,
.screen-details:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

button {
  padding: 15px 35px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 50px;
  background: linear-gradient(135deg, #ff6a00, #ee0979);
  color: #fff;
  cursor: pointer;
  border: none;
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background: linear-gradient(135deg, #ee0979, #ff6a00);
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(255, 106, 0, 0.6);
}

form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 20px;
}

form input[type='text'],
form input[type='email'],
form textarea {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(179, 99, 99, 0.3);
  color: #fff;
  transition: border 0.3s ease, background 0.3s ease;
}

form input[type='text']:focus,
form input[type='email']:focus,
form textarea:focus {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ff6a00;
}

form input[type='submit'] {
  width: auto;
  padding: 15px 40px;
  background-color: #2196f3;
  color: #fff;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 700;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

form input[type='submit']:hover {
  background-color: #1769aa;
  transform: translateY(-1px);
  box-shadow: 0 6px 15px rgba(33, 150, 243, 0.5);
}

.last-updated {
  margin-top: 30px;
  font-size: 18px;
  color: #ccc;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .App {
    padding: 20px;
  }

  .resolution-display,
  .voice-commands,
  .color-depth,
  .viewport-size,
  .screen-comparison,
  .fps-meter,
  .theme-switcher,
  .device-motion,
  .live-wifi-ping,
  .battery-status,
  .device-orientation,
  .network-status,
  .network-type,
  .live-location,
  .device-info,
  .feedback,
  .clipboard-status,
  .screen-details {
    width: 90%;
  }
}

/* Add to your CSS file */
.wifi-speed-test {
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #282c34;
  color: #fff;
  text-align: center;
}

.wifi-speed-test h2 {
  margin-bottom: 15px;
}

.wifi-speed-test p {
  font-size: 18px;
  color: #61dafb; /* light color for better visibility */
}

.wifi-speed-test button {
  padding: 10px 20px;
  background-color: #ff9800; /* bright button color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.wifi-speed-test button:hover {
  background-color: #ff5722; /* darker button color on hover */
}
